@use "../general-styles/colors"as clr;
@use "../general-styles/typography"as type;

.contact {
    background-color: rgb(242, 244, 247);

    &__content {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        gap: 5rem;

        &--titles {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &--info {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &__number,
            &__email,
            &__location,
            &__working-times {
                display: flex;
                gap: 2rem;
                align-items: start;
                font-size: type.fs(m);
                font-weight: type.fw(bold);

                i {
                    color: clr.clrs(clr-primary);
                    margin-top: 0.5rem;
                }
            }

            &__email,
            &__location,
            &__working-times {

                &>span {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        &--form {
            background-color: clr.clrs(clr-black);
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            input,
            textarea,
            select {
                padding-bottom: 1rem;
                border-bottom: 1px solid rgb(211, 211, 211);
                color: clr.clrs(clr-white);
                font-size: type.fs(sc);
                border-radius: 0;
                width: 100%;
            }

            input,
            textarea {
                &::placeholder {
                    color: clr.clrs(clr-white);
                }
            }

            select {
                padding: 1rem 2rem 1rem 0;
                background-color: clr.clrs(clr-black);
            }
        }
    }
}