@use "../general-styles/colors"as clr;
@use "../general-styles/typography"as type;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: clr.clrs(clr-black);
    padding: 1rem 1.5rem;

    &__logo {
        font-family: 'Poppins', sans-serif;
        color: clr.clrs(clr-primary);
        font-size: type.fs(l);
        font-weight: type.fw(bold);
    }

    &__nav {
        &--links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            position: fixed;
            top: 0;
            right: 50%;
            transform-origin: top;
            transform: translateX(50%) translateY(5.5rem) scaleY(0);
            padding: 2rem 4rem;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            border: 1px solid clr.clrs(clr-white);
            background-color: clr.clrs(clr-black);
            z-index: 10;
            transition: transform 0.20s ease-in-out;

            &__link a {
                color: clr.clrs(clr-white);
                font-weight: type.fw(light);

                &:hover {
                    color: clr.clrs(clr-primary);
                }
            }

            &.display-nav {
                transform-origin: top;
                transform: translateX(50%) translateY(5.5rem) scale(1);
            }
        }
    }

    &__hamburger {
        height: 1.5rem;
        width: 3rem;
        transform: rotate(-45deg);
        cursor: pointer;
        position: fixed;
        right: 1.5rem;
        top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .3rem;
        z-index: 11;

        &:hover {
            .line-1 {
                width: 50%;
            }

            .line-2 {
                width: 70%;
            }

            .line-3 {
                width: 100%;
            }
        }

        &.active {
            transform: rotate(0);

            .line-1,
            .line-3 {
                width: 90%;
            }

            .line-1 {
                transform: rotate(45deg) translateX(0.6rem) translateY(0.5rem);
            }

            .line-2 {
                opacity: 0;
            }

            .line-3 {
                transform: rotate(-45deg) translateX(0.4rem) translateY(-0.2rem);
            }
        }

        div {
            height: 3px;
            background-color: clr.clrs(clr-primary);
            transition: all .20s ease-in-out;
        }

        .line-1 {
            width: 100%;
        }

        .line-2 {
            width: 70%;
        }

        .line-3 {
            width: 50%;
        }
    }
}