@use "../general-styles/colors"as clr;
@use "../general-styles/typography"as type;

.pricing {
    &__content {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        gap: 5rem;

        &--plans {
            display: grid;
            grid-template-rows: repeat(3, min-content);
            gap: 2rem;

            &__plan {
                padding: 4rem 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &.regular-plan {
                    border: 1px solid rgb(211, 211, 211);
                }

                &.popular-plan {
                    background-image: url("../images/pricing-card-bg.jpg");
                    background-size: cover;
                    color: clr.clrs(clr-white);

                    .pricing__content--plans__plan--link {
                        color: clr.clrs(clr-white);
                    }
                }

                &.advanced-plan {
                    background-color: rgb(230, 230, 230);
                }

                &--title {
                    font-size: type.fs(l);
                    font-weight: type.fw(bold);
                    text-transform: uppercase;
                    padding-bottom: 2rem;
                    position: relative;

                    span {
                        display: block;
                        color: clr.clrs(clr-primary);
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        width: 5rem;
                        height: 1px;
                        background-color: rgb(211, 211, 211);
                    }
                }

                &--features {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    li {
                        font-size: type.fs(sc);
                        display: flex;
                        gap: 0.5rem;

                        i {
                            color: clr.clrs(clr-primary);
                            margin-top: 3px;
                        }
                    }
                }

                &--link {
                    color: clr.clrs(clr-black);
                    font-size: type.fs(sc);
                    font-weight: type.fw(medium);
                }
            }
        }
    }
}