@use "../general-styles/colors"as clr;
@use "../general-styles/typography"as type;

.sec-title {
    font-size: type.fs(xl);
    text-transform: uppercase;
    font-weight: type.fw(extra-bold);
    letter-spacing: -1px;
    line-height: 1.1;

    span {
        display: block;
        color: clr.clrs(clr-primary);
    }
}